@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: 'linearIcons';
  src: url(./assets/fonts/Linearicons/Linearicons-Free.ttf);
}

body {
  font-family: Lato, 'Courier New', Courier, monospace;
  margin: 0;
}

.iconFont {
  font-family: 'linearIcons', 'Courier New', Courier, monospace;
}

.grid {
  display: grid;
  justify-content: center;
  background-color: lightblue;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  background-color: lightgray;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 2rem;
}

.productImage {
  max-width: 7.5rem;
}
