@font-face {
  font-family: 'linearIcons';
  src: url(./assets/fonts/Linearicons/Linearicons-Free.ttf);
}

.iconFont {
  font-family: 'linearIcons', 'Courier New', Courier, monospace;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.cart {
  justify-self: end;
}
