@font-face {
  font-family: 'linearIcons';
  src: url(./assets/fonts/Linearicons/Linearicons-Free.ttf);
}

.iconFont {
  font-family: 'linearIcons', 'Courier New', Courier, monospace;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: min(80%, 55rem);
}

.productImage {
  max-width: 7.5rem;
}
